:root {
    --columns-number: var(--cslcolumns, 2);
    --icons-size: var(--csisize, 50);
    --icons-spacing: var(--csispacing, 3);
    --center: var(--csdmcenter, 1);
}

.uiuiui-wrapper-1_HaEi[style*="width: 0px"],
.wrapper-1_HaEi[style*="width: 0px"] {
    width: 0px !important;
}

.uiuiui-wrapper-1_HaEi,
.uiuiui-wrapper-1_HaEi .uiuiui-unreadMentionsIndicatorTop-2bTgUU,
.uiuiui-wrapper-1_HaEi .uiuiui-unreadMentionsIndicatorBottom-3RJMnQ,
.wrapper-1_HaEi,
.wrapper-1_HaEi .unreadMentionsIndicatorTop-2bTgUU,
.wrapper-1_HaEi .unreadMentionsIndicatorBottom-3RJMnQ {
    width: calc(
        1px *
            (
                var(--icons-size) * var(--columns-number) + 20 *
                    (var(--icons-size) / 50) + 14 * (var(--icons-size) / 50) *
                    (var(--columns-number) - 1)
            )
    ) !important;
}

.uiuiui-wrapper-1_HaEi,
.wrapper-1_HaEi {
    padding: 0 !important;
}

.wrapper-1_HaEi.hidden-10MsGQ {
    width: 0 !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-scroller-3X7KbA,
.wrapper-1_HaEi .scroller-3X7KbA {
    padding: 0 0 calc(10px * var(--icons-size) / 50)
        calc(10px * var(--icons-size) / 50) !important;
}
.uiuiui-wrapper-1_HaEi
    .uiuiui-scroller-3X7KbA.uiuiui-none-1rXy4P::-webkit-scrollbar,
.wrapper-1_HaEi .scroller-3X7KbA.none-1rXy4P::-webkit-scrollbar {
    width: 0 !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-scroller-3X7KbA,
.uiuiui-wrapper-1_HaEi .uiuiui-scroller-3X7KbA > [role="tree"],
.uiuiui-wrapper-1_HaEi .uiuiui-listItem-3SmSlK + div[aria-label]:not([class]),
.wrapper-1_HaEi .scroller-3X7KbA,
.wrapper-1_HaEi .scroller-3X7KbA > [role="tree"],
.wrapper-1_HaEi .listItem-3SmSlK + div[aria-label]:not([class]) {
    margin: 0 !important;
    display: flex !important;
    flex-flow: row wrap !important;
    align-content: flex-start !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-listItem-3SmSlK,
.wrapper-1_HaEi .listItem-3SmSlK {
    margin: calc(1px * var(--icons-spacing))
        calc(1px * (12 * var(--icons-size) / 50))
        calc(1px * var(--icons-spacing)) 0 !important;
}
.wrapper-1_HaEi #server-search {
    margin: calc(1px * var(--icons-spacing))
        calc(
            1px *
                (
                    (
                            (var(--icons-size) + 12 * var(--icons-size) / 50) *
                                (var(--columns-number) - 1)
                        ) / 2
                )
        ) !important;
}
.wrapper-1_HaEi #server-search .pill-3YxEhL {
    display: none;
}
.uiuiui-wrapper-1_HaEi
    .uiuiui-listItem-3SmSlK:first-child
    .uiuiui-pill-L_aLMQ
    ~ .uiuiui-listItemWrapper-3d87LP,
.wrapper-1_HaEi
    .listItem-3SmSlK:first-child
    .pill-L_aLMQ
    ~ .listItemWrapper-3d87LP {
    margin: 0
        calc(
            1px *
                (
                    (
                            (
                                    (
                                            var(--icons-size) + 12 *
                                                var(--icons-size) / 50
                                        ) * (var(--columns-number) - 1)
                                ) / 2
                        ) * (1 - var(--center))
                )
        )
        0
        calc(
            1px *
                (
                    (
                        (0 * var(--center)) +
                            (
                                (
                                        (
                                                (
                                                        var(--icons-size) + 12 *
                                                            var(--icons-size) /
                                                            50
                                                    ) *
                                                    (var(--columns-number) - 1)
                                            ) / 2
                                    ) * (1 - var(--center))
                            )
                    )
                )
        ) !important;
}

.uiuiui-wrapper-1_HaEi .uiuiui-blobContainer-ikKyFs,
.wrapper-1_HaEi .blobContainer-ikKyFs,
.wrapper-1_HaEi .guildsError-YJjW3A {
    margin: 0 !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-listItem-3SmSlK,
.wrapper-1_HaEi .listItem-3SmSlK {
    width: auto !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-tutorialContainer-1pL9QS,
.wrapper-1_HaEi .tutorialContainer-1pL9QS {
    width: 100%;
}
.uiuiui-wrapper-1_HaEi .uiuiui-svg-2ifYOU,
.uiuiui-wrapper-1_HaEi .uiuiui-wrapper-2PSQCG,
.wrapper-1_HaEi .placeholderMask-3Z1hhV,
.wrapper-1_HaEi .svg-2ifYOU,
.wrapper-1_HaEi .wrapper-2PSQCG {
    height: calc(1px * var(--icons-size)) !important;
    width: calc(1px * var(--icons-size)) !important;
}
.uiuiui-wrapper-1_HaEi
    .uiuiui-scroller-3X7KbA
    > div[style*="height"]:not([class]),
.wrapper-1_HaEi .scroller-3X7KbA > div[style*="height"]:not([class]) {
    height: calc(1px * var(--icons-size) * (58 / 50)) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-upperBadge-1d6YsW .uiuiui-base-3IDx3L,
.wrapper-1_HaEi .upperBadge-1d6YsW .base-3IDx3L {
    transform: translate(
            calc(1.5px * ((50 - var(--icons-size)) / 10)),
            calc(-1.5px * ((50 - var(--icons-size)) / 10))
        )
        scale(calc(var(--icons-size) / 50)) !important;
}
.wrapper-1_HaEi .upperLeftBadge-e35IpL .base-3IDx3L {
    transform: translate(
            calc(-1.5px * ((50 - var(--icons-size)) / 10)),
            calc(-1.5px * ((50 - var(--icons-size)) / 10))
        )
        scale(calc(var(--icons-size) / 50)) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-lowerBadge-3j0ZAg .uiuiui-base-3IDx3L,
.wrapper-1_HaEi .lowerBadge-3j0ZAg .base-3IDx3L {
    transform: translate(
            calc(1.5px * ((50 - var(--icons-size)) / 10)),
            calc(1.5px * ((50 - var(--icons-size)) / 10))
        )
        scale(calc(var(--icons-size) / 50)) !important;
}
.wrapper-1_HaEi .lowerLeftBadge-zr4T_9 .base-3IDx3L {
    transform: translate(
            calc(-1.5px * ((50 - var(--icons-size)) / 10)),
            calc(1.5px * ((50 - var(--icons-size)) / 10))
        )
        scale(calc(var(--icons-size) / 50)) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-wrapper-z5ab_q,
.wrapper-1_HaEi .wrapper-z5ab_q {
    top: calc(-5px * var(--icons-size) / 50) !important;
    height: calc(
        1px * (var(--icons-size) + 10 * var(--icons-size) / 50)
    ) !important;
    transform: scale(calc(var(--icons-size) / 50)) !important;
    transform-origin: 0 50% !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-pill-L_aLMQ,
.wrapper-1_HaEi .pill-L_aLMQ,
.wrapper-1_HaEi .pill-1eBbnB {
    left: calc(
        1px *
            (
                (
                        (
                                (
                                        var(--icons-size) + 10 *
                                            var(--icons-size) / 50
                                    ) * (var(--columns-number) - 1)
                            ) / 2
                    ) - 9
            )
    ) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-pill-L_aLMQ,
.wrapper-1_HaEi .pill-L_aLMQ {
    left: calc(
        1px *
            (
                (
                        var(--center) +
                            (
                                (
                                        (
                                                (
                                                        var(--icons-size) + 10 *
                                                            var(--icons-size) /
                                                            50
                                                    ) *
                                                    (var(--columns-number) - 1)
                                            ) / 2
                                    ) * (1 - var(--center))
                            )
                    ) - 8
            )
    ) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-pill-2RsI5Q,
.wrapper-1_HaEi .pill-2RsI5Q,
.wrapper-1_HaEi .pill-1fqNCF {
    left: calc(-10px * var(--icons-size) / 50) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-guildSeparator-a4uisj,
.wrapper-1_HaEi .guildSeparator-a4uisj {
    width: calc(
        1px *
            (
                (var(--icons-size) + 12 * var(--icons-size) / 50) *
                    var(--columns-number) - (12 * var(--icons-size) / 50)
            )
    ) !important;
    margin: calc(1px * (var(--icons-size) / 10)) 0 !important;
    display: block !important;
}
.uiuiui-wrapper-1_HaEi
    [role="tree"]
    ~ .uiuiui-listItem-3SmSlK
    .uiuiui-listItemWrapper-3d87LP,
.uiuiui-wrapper-1_HaEi
    [role="tree"]
    ~ *
    .uiuiui-listItem-3SmSlK
    .uiuiui-listItemWrapper-3d87LP,
.uiuiui-wrapper-1_HaEi
    .uiuiui-listItem-3SmSlK
    + div[aria-label]:not([class])
    ~ .uiuiui-listItem-3SmSlK
    .uiuiui-listItemWrapper-3d87LP,
.uiuiui-wrapper-1_HaEi
    .uiuiui-listItem-3SmSlK
    + div[aria-label]:not([class])
    ~ *
    .uiuiui-listItem-3SmSlK
    .uiuiui-listItemWrapper-3d87LP,
.wrapper-1_HaEi [role="tree"] ~ .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi [role="tree"] ~ * .listItem-3SmSlK .listItemWrapper-3d87LP,
.wrapper-1_HaEi
    .listItem-3SmSlK
    + div[aria-label]:not([class])
    ~ .listItem-3SmSlK
    .listItemWrapper-3d87LP,
.wrapper-1_HaEi
    .listItem-3SmSlK
    + div[aria-label]:not([class])
    ~ *
    .listItem-3SmSlK
    .listItemWrapper-3d87LP {
    margin: 0 !important;
}
.wrapper-1_HaEi .guildsError-YJjW3A {
    height: calc(1px * var(--icons-size)) !important;
    width: calc(1px * var(--icons-size)) !important;
    font-size: calc(1px * (var(--icons-size) / 4 + 7.5)) !important;
    line-height: calc(1px * (var(--icons-size) / 4 + 6.5)) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
    height: calc(1px * ((var(--icons-size) / 5) + 10)) !important;
}
.wrapper-1_HaEi .friendsOnline-2JkivW,
.wrapper-1_HaEi .label-2wRs_g {
    display: flex !important;
    justify-content: center !important;
    width: calc(
        1px *
            (
                var(--icons-size) * var(--columns-number) + 20 *
                    (var(--icons-size) / 50) + 14 * (var(--icons-size) / 50) *
                    (var(--columns-number) - 1) - (20 * var(--icons-size) / 50)
                    calc(10px * var(--icons-size) / 50)
            )
    ) !important;
    margin: 0 !important;
    font-size: calc(1px * ((var(--icons-size) / 8) + 3)) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
    width: calc(
        1px * ((var(--icons-size) * 4 / 5) + 12 * var(--icons-size) / 50)
    ) !important;
}
.wrapper-1_HaEi #sort-button,
.wrapper-1_HaEi .frame-oXWS21 {
    text-align: center !important;
    margin: calc(1px * var(--icons-spacing))
        calc(
            1px *
                (
                    (
                            (var(--icons-size) + 12 * var(--icons-size) / 50) *
                                (var(--columns-number) - 1) -
                                (
                                    (var(--icons-size) * 4 / 5) + 12 *
                                        var(--icons-size) / 50
                                ) + var(--icons-size)
                        ) / 2
                )
        )
        calc(1px * var(--icons-spacing))
        calc(
            1px *
                (
                    (
                            (var(--icons-size) + 12 * var(--icons-size) / 50) *
                                (var(--columns-number) - 1) -
                                (
                                    (var(--icons-size) * 4 / 5) + 12 *
                                        var(--icons-size) / 50
                                ) + var(--icons-size)
                        ) / 2
                )
        ) !important;
}
.wrapper-1_HaEi #sort-button > div,
.wrapper-1_HaEi .frame-oXWS21 .innerFrame-8Hg64E,
.wrapper-1_HaEi .frame-oXWS21 .button-Jt-tIg {
    white-space: pre !important;
    font-size: calc(1px * ((var(--icons-size) / 8) + 5)) !important;
    line-height: calc(1px * ((var(--icons-size) / 5) + 10)) !important;
    width: 100% !important;
}

.uiuiui-wrapper-1_HaEi .uiuiui-wrapper-38slSD,
.wrapper-1_HaEi .wrapper-38slSD {
    border-bottom: calc(1px * var(--icons-spacing)) solid transparent !important;
    margin: calc(1px * var(--icons-spacing))
        calc(1px * (12 * var(--icons-size) / 50)) auto 0 !important;
    width: calc(1px * var(--icons-size)) !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-wrapper-38slSD > .uiuiui-listItem-3SmSlK,
.wrapper-1_HaEi .wrapper-38slSD > .listItem-3SmSlK {
    margin: 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] {
    overflow: visible !important;
    margin-left: -1px !important;
    margin-bottom: 0 !important;
    padding-left: 1px !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK {
    margin: 6px 0 !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"] .listItem-3SmSlK:last-child {
    margin-bottom: 0 !important;
}
.uiuiui-wrapper-1_HaEi .uiuiui-expandedFolderBackground-1kSAf6,
.wrapper-1_HaEi .expandedFolderBackground-1kSAf6 {
    width: calc(1px * var(--icons-size)) !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-bottom: 0 !important;
}

.wrapper-1_HaEi.content-Pph8t6 .scroller-3X7KbA {
    padding-left: 0 !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD {
    width: calc(
        1px *
            (
                var(--icons-size) * var(--columns-number) + 20 *
                    (var(--icons-size) / 50) + 14 * (var(--icons-size) / 50) *
                    (var(--columns-number) - 1)
            )
    ) !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD > .listItem-3SmSlK {
    margin: calc(1px * var(--icons-spacing)) calc(5px * var(--icons-size) / 50)
        calc(1px * var(--icons-spacing)) 0 !important;
}
.wrapper-1_HaEi.content-Pph8t6
    .wrapper-38slSD
    .expandedFolderBackground-1kSAf6 {
    right: 0 !important;
    width: calc(100% - calc(5px * var(--icons-size) / 50)) !important;
}
.wrapper-1_HaEi.content-Pph8t6 .wrapper-38slSD [role="group"] {
    margin: 0 !important;
    padding: 0 calc(13px * var(--icons-size) / 50) 0
        calc(10px * var(--icons-size) / 50) !important;
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-between !important;
}
.wrapper-1_HaEi.content-Pph8t6
    .wrapper-38slSD
    .expandedFolderBackground-1kSAf6
    ~ [role="group"] {
    padding-bottom: calc(8px * var(--icons-size) / 50) !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
    right: 3px !important;
    top: calc(var(--icons-size) * 1px - 5px) !important;
    bottom: unset !important;
}
.wrapper-1_HaEi .wrapper-38slSD [role="group"][style^="height:"] {
    height: unset !important;
}
