:root {
    --uiuiui-home: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0.00 0.00 120.00 120.00'%3E%3Cpath fill='%23ffffff' d=' M 25.86 120.00 L 22.94 120.00 Q 15.96 119.10 16.53 111.25 Q 19.28 73.54 29.60 35.07 C 31.51 27.94 41.79 27.52 46.70 30.02 C 48.71 31.04 48.42 33.91 47.82 36.02 Q 39.12 66.37 36.04 97.75 A 0.42 0.42 0.0 0 0 36.41 98.21 C 48.00 99.70 70.44 99.43 78.35 88.98 C 85.59 79.42 80.65 68.84 69.16 66.94 Q 64.16 66.11 59.08 65.94 C 53.85 65.76 54.17 52.88 62.69 52.37 C 74.01 51.69 89.42 49.77 94.72 37.88 C 99.08 28.12 92.17 19.96 82.37 17.35 C 60.71 11.58 32.66 18.29 13.73 29.51 C 8.23 32.77 3.30 28.93 4.74 22.74 C 6.36 15.70 16.26 11.64 22.27 9.29 C 43.06 1.19 68.94 -2.11 91.25 3.26 C 106.95 7.04 119.04 20.27 114.05 37.23 C 110.25 50.18 97.97 57.36 85.47 59.99 A 0.51 0.51 0.0 0 0 85.45 60.99 C 103.80 65.67 104.63 86.07 93.72 98.02 C 85.38 107.15 68.73 111.92 55.97 112.70 Q 47.24 113.23 35.98 112.62 Q 35.45 112.59 35.30 113.10 Q 33.48 119.33 25.86 120.00 Z'%0A/%3E%3C/svg%3E%0A");
    --uiuiui-default-background: ;
    --uiuiui-svg: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0.00 0.00 340.00 204.00'%3E%3Cpath fill='%23ffffff' d=' M 227.50 0.00 L 229.30 0.00 C 246.40 2.24 244.15 29.79 241.58 41.27 C 236.05 65.98 223.06 90.15 208.07 110.57 A 1.08 1.06 59.3 0 0 207.87 111.38 C 209.61 123.78 220.06 125.38 228.50 118.42 C 231.13 116.25 234.69 112.70 237.15 109.57 Q 237.47 109.16 237.42 108.65 C 235.39 89.83 238.01 69.86 242.28 51.51 C 246.18 34.70 255.24 2.10 275.32 0.00 L 277.06 0.00 C 284.64 1.05 288.64 7.56 289.98 14.50 C 295.96 45.60 273.75 86.09 255.86 110.27 A 1.55 1.52 63.4 0 0 255.57 111.17 C 255.55 116.47 258.84 121.95 264.45 122.41 C 271.51 122.99 279.14 116.95 282.98 111.36 Q 283.26 110.96 283.27 110.48 Q 283.78 96.99 287.39 84.06 C 290.11 74.33 291.65 68.53 302.97 69.61 C 306.68 69.97 307.63 71.45 306.91 75.11 C 304.83 85.70 302.14 95.60 300.69 107.28 C 300.32 110.32 299.53 116.56 303.39 117.51 Q 303.90 117.63 304.34 117.37 C 314.09 111.67 320.22 88.27 323.38 77.71 Q 324.50 73.94 325.58 72.50 C 328.16 69.07 339.19 67.33 340.00 72.82 L 340.00 73.58 C 336.99 93.49 333.58 113.33 330.47 133.24 Q 326.73 157.22 318.13 179.91 C 313.81 191.31 306.19 202.71 292.97 204.00 L 291.21 204.00 C 278.93 202.68 274.11 193.92 275.93 182.48 C 278.85 164.12 299.68 146.90 313.99 136.19 Q 314.34 135.92 314.41 135.49 L 316.85 119.55 A 0.27 0.27 0.0 0 0 316.34 119.40 Q 315.33 121.54 314.39 123.95 C 310.56 133.87 299.92 143.58 289.52 134.90 C 287.64 133.33 286.44 130.85 285.13 128.62 A 0.52 0.52 0.0 0 0 284.31 128.52 C 274.15 138.78 256.40 143.11 245.85 131.07 C 244.37 129.38 243.07 126.79 241.74 124.64 Q 241.43 124.13 241.02 124.56 C 230.77 135.16 213.33 145.23 199.94 132.87 C 197.61 130.71 195.78 127.55 194.09 124.56 A 0.47 0.47 0.0 0 0 193.32 124.49 C 188.27 130.57 180.37 137.56 172.70 138.21 C 165.31 138.84 159.08 133.53 156.97 126.67 A 0.63 0.63 0.0 0 0 155.82 126.55 C 145.32 144.95 120.08 141.14 117.97 118.92 C 115.83 96.43 131.82 68.86 157.24 69.51 C 160.89 69.61 161.25 71.72 162.27 74.59 Q 162.46 75.13 163.02 75.03 C 169.44 73.86 177.45 73.38 175.59 83.01 Q 171.85 102.35 170.22 116.21 Q 169.64 121.08 173.49 122.08 C 178.38 123.35 186.36 113.54 189.31 110.16 A 2.13 2.09 -27.7 0 0 189.81 108.60 C 187.44 83.14 192.08 55.40 200.27 31.80 C 204.64 19.21 212.42 2.49 227.50 0.00 Z M 226.71 14.91 A 2.02 2.01 45.3 0 0 224.00 14.89 C 219.26 19.13 216.53 29.43 214.92 35.48 Q 207.71 62.51 206.72 90.47 A 0.29 0.29 0.0 0 0 207.25 90.63 Q 220.26 69.41 226.69 45.24 C 228.38 38.85 231.97 19.72 226.71 14.91 Z M 273.58 14.42 C 267.40 14.66 262.38 35.75 261.28 40.30 Q 255.31 65.02 254.34 90.44 A 0.25 0.25 0.0 0 0 254.80 90.58 C 267.21 70.57 277.50 45.98 276.92 21.95 Q 276.82 17.73 274.52 14.85 A 1.12 1.12 0.0 0 0 273.58 14.42 Z M 139.19 122.81 C 146.72 126.26 151.41 116.91 152.66 110.93 Q 155.55 97.11 158.09 84.05 Q 158.39 82.50 156.84 82.82 C 141.69 85.99 134.96 102.88 135.83 116.72 C 135.98 119.13 137.06 121.84 139.19 122.81 Z M 310.26 153.79 C 302.33 160.62 287.90 174.40 289.87 186.19 C 290.56 190.33 294.45 190.76 297.15 188.05 C 304.84 180.33 308.55 164.46 310.74 154.08 A 0.30 0.30 0.0 0 0 310.26 153.79 Z'%0A/%3E%3Cpath fill='%233c97fc' d=' M 34.75 136.92 C 33.61 144.17 25.20 145.56 19.42 144.37 C 13.59 143.16 13.60 137.53 14.00 132.67 Q 17.31 91.68 28.50 50.25 Q 29.96 44.85 35.15 43.59 C 40.13 42.38 51.64 41.95 49.06 50.76 Q 39.14 84.74 35.73 119.96 Q 35.68 120.52 36.23 120.58 C 49.88 122.20 71.14 121.68 81.28 112.04 C 87.86 105.77 88.92 95.19 81.57 89.31 C 76.40 85.17 67.56 84.39 60.96 84.53 A 1.35 1.34 -28.9 0 1 60.19 84.31 C 55.36 81.07 57.67 70.20 63.69 69.59 Q 66.16 69.33 70.18 69.14 C 81.69 68.58 99.16 63.53 102.15 50.22 C 105.71 34.38 87.81 29.12 76.00 28.50 Q 40.59 26.64 10.95 43.73 C -0.87 50.56 -2.37 34.05 6.13 28.60 C 23.12 17.71 45.24 12.72 65.06 11.87 C 87.48 10.92 127.65 14.94 123.64 48.01 C 121.53 65.37 106.29 74.12 90.79 78.02 A 0.48 0.47 -44.5 0 0 90.78 78.94 C 103.61 82.36 109.88 92.56 107.52 105.56 C 102.20 134.83 59.19 138.52 35.41 136.40 Q 34.84 136.35 34.75 136.92 Z'%0A/%3E%3C/svg%3E%0A");

    --text-muted: var(--secondary-text-color);

    --main-gradient: linear-gradient(
        var(--gradient-direction),
        var(--first-gradient-color),
        var(--second-gradient-color)
    );
    --hover-gradient: linear-gradient(
        var(--hover-gradient-direction),
        var(--hover-first-gradient-color),
        var(--hover-second-gradient-color)
    );

    --theme-border: var(--theme-border-width) var(--theme-border-style)
        var(--theme-border-color);

    --secondary-shadow: 0 0 20px calc(var(--window-padding) + 10px) #00000033;

    --shadow-type-1: 0px 8px 24px var(--main-background-tint);
    --shadow-type-2: 0px 7px 29px 0px var(--main-background-tint);
    --shadow-type-3: 1.95px 1.95px 2.6px var(--main-background-tint);
    --shadow-type-4: 0px 5px 15px var(--main-background-tint);
    --shadow-type-5: 0px 1px 4px var(--main-background-tint);
    --shadow-type-6: 0px 3px 8px var(--main-background-tint);
    --shadow-type-7: 0px 2px 8px 0px var(--main-background-tint);
    --shadow-type-8: 0px 1px 3px 0px var(--main-background-tint),
        0px 0px 0px 1px var(--main-background-tint);
    --shadow-type-9: 0px 54px 55px var(--main-background-tint),
        0px -12px 30px var(--main-background-tint),
        0px 4px 6px var(--main-background-tint),
        0px 12px 13px var(--main-background-tint),
        0px -3px 5px var(--main-background-tint);
    --shadow-type-10: 0px 6px 24px 0px var(--main-background-tint),
        0px 0px 0px 1px var(--main-background-tint);
    --shadow-type-11: 0px 10px 36px 0px var(--main-background-tint),
        0px 0px 0px 1px var(--main-background-tint);
    --shadow-type-12: 0px 48px 100px 0px var(--main-background-tint);
    --shadow-type-13: 0px 50px 100px -20px var(--main-background-tint),
        0px 30px 60px -30px var(--main-background-tint),
        0px -2px 6px 0px var(--main-background-tint) inset;
    --shadow-type-14: 0px 20px 30px -10px var(--main-background-tint);
    --shadow-type-15: 0px 30px 60px -12px inset var(--main-background-tint),
        0px 18px 36px -18px inset var(--main-background-tint);
    --shadow-type-16: 0px 10px 20px var(--main-background-tint),
        0px 6px 6px var(--main-background-tint);
    --shadow-type-17: 0px 2px 1px var(--main-background-tint),
        0px 4px 2px var(--main-background-tint),
        0px 8px 4px var(--main-background-tint),
        0px 16px 8px var(--main-background-tint),
        0px 32px 16px var(--main-background-tint);
    --shadow-type-18: 3px 3px 6px 0px inset var(--main-background-tint),
        -3px -3px 6px 1px inset var(--main-background-tint);
    --shadow-type-19: 6px 2px 16px 0px var(--main-background-tint),
        -6px -2px 16px 0px var(--main-background-tint);
    --shadow-type-20: 0px 25px 20px -20px var(--main-background-tint);

    --text-shadow: 1;
    --chat-embed: var(--background-secondary);
}

.theme-dark,
.theme-light {
    --status-positive-text: var(--main-text-color);
    --deprecated-card-bg: #00000099;
    --deprecated-store-bg: var(--background-tertiary);
    --channel-text-area-placeholder: var(--secondary-text-color);
    --brand-experiment: var(--main-gradient);
    --channels-default: var(--main-text-color);
    --header-primary: var(--main-text-color);
    --text-normal: var(--main-text-color);
    --link-colour: var(--main-text-color);
    --header-secondary: var(--secondary-text-color);
    --channel-icon: var(--main-text-color);
    --interactive-active: var(--main-text-color);
    --interactive-hover: var(--main-text-color);
    --interactive-normal: var(--main-text-color);
    --interactive-muted: var(--secondary-text-color);
    --background-modifier-selected: var(--main-gradient);
    --input-background: #00000099;
    --background-primary: #00000099;
    --background-secondary: #00000099;
    --background-secondary-alt: #00000099;
    --background-tertiary: #00000033;
    --background-floating: transparent;
    --deprecated-text-input-bg: transparent;
    --logo-primary: var(--main-text-color);
    --background-mentioned: var(--small-popout-background-tint);
    --text-positive: var(--first-gradient-color);
    --info-positive-foreground: var(--first-gradient-color);
}

.uiuiui-divider-2rZFJK,
.divider-2rZFJK {
    --divider-color: var(--theme-border-color);
}

::-webkit-scrollbar {
    width: 8px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--interactive-border-radius) !important;
    border: none !important;
    background: var(--main-gradient) !important;
}

::-webkit-scrollbar-corner {
    visibility: hidden !important;
}

::-moz-selection {
    background: var(--second-gradient-color);
    color: var(--main-text-color);
}

::selection {
    background: var(--second-gradient-color);
    color: var(--main-text-color);
}

html {
    font-size: var(--font-size) !important;
}

::-webkit-input-placeholder,
body,
button,
input,
select,
textarea,
span,
div,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font, "Whitney") !important;
}

#app-mount .layer__2efaa,
#app-mount .uiuiui-layer-86YKbF {
    top: var(--window-padding);
    right: var(--window-padding);
    bottom: var(--window-padding);
    left: var(--window-padding);
    padding-top: 0;
    overflow: hidden;
    border-radius: var(--window-border-radius);
    border-width: var(--theme-border-width);
    border-color: var(--theme-border-color);
    border-style: var(--theme-border-style);
    box-shadow: var(--window-shadow-style), var(--secondary-shadow);
}

#app-mount .base__3e6af::before,
#app-mount .uiuiui-base-2jDfDU::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background: linear-gradient(#00000033, transparent);
    z-index: 1;
    top: 48px;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#app-mount .bg__12180,
#app-mount .uiuiui-bg-1QIAus {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--background-image);
    background-position: var(--background-image-position, center);
    background-size: var(--background-image-size, cover);
    background-repeat: var(--background-image-repeat, repeat);
}
#app-mount .bg__12180::before,
#app-mount .uiuiui-bg-1QIAus::before {
    content: "";
    position: absolute;
    top: var(--window-padding);
    right: var(--window-padding);
    bottom: var(--window-padding);
    left: var(--window-padding);
    border-radius: var(--window-border-radius);
    -webkit-backdrop-filter: blur(var(--background-image-blur));
    backdrop-filter: blur(var(--background-image-blur));
    box-shadow: inset 0 0 0 100vmax var(--main-background-tint);
}

.typeWindows__5fa63,
.uiuiui-typeWindows-2-g3UY {
    background: var(--header-color) !important;
    margin-top: 0;
    padding-top: 4px;
}

.guilds__2b93a .tutorialContainer__890ea .childWrapper__01b9c,
.uiuiui-guilds-2JjMmN
    .uiuiui-tutorialContainer-1pL9QS
    .uiuiui-childWrapper-1j_1ub {
    background-color: transparent;
}

.guilds__2b93a
    .tutorialContainer__890ea
    .listItem_fa7b36:first-child
    .wrapper_d281dd::before,
.uiuiui-guilds-2JjMmN
    .uiuiui-tutorialContainer-1pL9QS
    .uiuiui-listItem-3SmSlK:first-child
    .uiuiui-wrapper-3kah-n::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    background: var(--home-icon-image);
    -webkit-mask: var(--home-icon-image, var(--uiuiui-home));
    mask: var(--home-icon-image, var(--uiuiui-home));
    background-color: var(--secondary-text-color);
    background-size: var(--home-icon-image-size, cover);
    background-position: var(--home-icon-image-position, center);
    background-repeat: var(--home-button-repeat, no-repeat);
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
}

.guilds__2b93a
    .tutorialContainer__890ea
    .listItem_fa7b36:first-child
    .wrapper_d281dd:hover::before,
.guilds__2b93a
    .tutorialContainer__890ea
    .listItem_fa7b36:first-child
    .wrapper_d281dd[class*="selected"]::before,
.uiuiui-guilds-2JjMmN
    .uiuiui-tutorialContainer-1pL9QS
    .uiuiui-listItem-3SmSlK:first-child
    .uiuiui-wrapper-3kah-n:hover::before {
    border-radius: 25%;
}

.footer-3naVBw {
    background: transparent;
    margin-top: 0 !important;
}

.scroller-1bVxF5.none-2-_0dP::before {
    background: none;
    box-shadow: none;
}

.scroller-1bVxF5.none-2-_0dP {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.uiuiui-userPopoutOuter-1OHwPL
    .uiuiui-userPopoutInner-nv9Y92.uiuiui-userProfileInnerThemedNonPremium-2AJg-H
    .uiuiui-overlayBackground-2aa7wt,
.userPopoutOuter_d739b2
    .userPopoutInner_f545a3.userProfileInnerThemedNonPremium__3d0a6
    .overlayBackground__86b78 {
    margin: 0 8px 8px;
}

.uiuiui-userPopoutOuter-1OHwPL,
.userPopoutOuter_d739b2,
.container-2ebMPP,
.messagesPopoutWrap_b3b384,
[role="menu"]:not(.menu-2TXYjN),
.contentWrapper-3vHNP2,
.popout-1KHNAq,
.container__8261a,
.container-26tbgC,
.container-JMJRDf,
.contentPremium-_Y0-cX,
.root-1e2tfc,
.scroller-1bVxF5 {
    position: relative;
    border: var(--theme-border);
    border-radius: var(--small-popout-border-radius);
    box-shadow: var(--window-shadow-style);
    animation: fadeIn 0.3s ease forwards;
    padding: 0;
    overflow: hidden !important;
}

.uiuiui-userPopoutOuter-1OHwPL::before,
.userPopoutOuter_d739b2::before,
.container-2ebMPP::before,
.messagesPopoutWrap_b3b384::before,
[role="menu"]:not(.menu-2TXYjN)::before,
.contentWrapper-3vHNP2::before,
.popout-1KHNAq::before,
.container__8261a::before,
.container-26tbgC::before,
.container-JMJRDf::before,
.contentPremium-_Y0-cX::before,
.scroller-1bVxF5::before {
    content: "";
    position: absolute;
    background: var(--small-popout-background-image);
    background-position: var(--small-popout-background-position, center);
    background-size: var(--small-popout-background-size, cover);
    background-repeat: var(--small-popout-background-repeat, repeat);
    box-shadow: inset 0 0 0 100vmax var(--small-popout-background-tint);
    height: calc(100% + var(--small-popout-background-blur) * 5);
    width: calc(100% + var(--small-popout-background-blur) * 5);
    top: calc(var(--small-popout-background-blur) / -1 * 2.5);
    left: calc(var(--small-popout-background-blur) / -1 * 2.5);
    filter: blur(var(--small-popout-background-blur));
    transform: translate(
        var(--small-popout-background-blur) / -1,
        calc(var(--small-popout-background-blur) / -1)
    );
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
}

.container-26tbgC,
.container-JMJRDf {
    border: none;
}

.headerPlaying-j0WQBV {
    background: var(--small-popout-background-tint);
}

.root-2uUafN {
    position: relative;
    border: var(--theme-border);
    border-radius: var(--big-popout-border-radius);
    box-shadow: var(--window-shadow-style);
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    padding: 0;
    overflow: hidden !important;
}

.root-2uUafN::before {
    content: "";
    position: absolute;
    background: var(--big-popout-background-image);
    background-position: var(--big-popout-background-position, center);
    background-size: var(--big-popout-background-size, cover);
    background-repeat: var(--big-popout-background-repeat, repeat);
    box-shadow: inset 0 0 0 100vmax var(--big-popout-background-tint);
    height: calc(100% + var(--big-popout-background-blur) * 5);
    width: calc(100% + var(--big-popout-background-blur) * 5);
    top: calc(var(--big-popout-background-blur) / -1 * 2.5);
    left: calc(var(--big-popout-background-blur) / -1 * 2.5);
    filter: blur(var(--big-popout-background-blur));
    transform: translate(
        var(--big-popout-background-blur) / -1,
        calc(var(--big-popout-background-blur) / -1)
    );
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
}

.modalHeader-gQTY3L {
    border-radius: var(--big-popout-border-radius)
        var(--big-popout-border-radius) 0 0;
}

.breadcrumbsWrapper--2LhnQ {
    z-index: 0;
}

.footer-31IekZ {
    border-radius: 0 0 var(--big-popout-border-radius)
        var(--big-popout-border-radius);
    background-color: transparent;
}

.body-2wLx-E.thin-31rlnD.scrollerBase_dc3aa9,
.headerTop-2cWpdB,
.banner-1YaD3N.popoutBanner-3cqRD9,
.bodyInnerWrapper-2bQs1k {
    border-bottom: none;
}

.uiuiui-app-2CXKsg,
.uiuiui-wrapper-1_HaEi,
.uiuiui-scroller-3X7KbA,
.uiuiui-panels-3wFtMD,
.uiuiui-container-ZMc96U.uiuiui-themed-Hp1KC_,
.uiuiui-chat-2ZfjoI,
.uiuiui-channelTextArea-1FufC0,
.uiuiui-sidebar-1tnWFu,
.uiuiui-container-1NXEtd,
.uiuiui-container-2o3qEW,
.uiuiui-members-3WRCEx,
.uiuiui-members-3WRCEx > div,
.layer__2efaa,
.app_de4237,
.wrapper-1_HaEi,
.scroller-3X7KbA,
.privateChannels__93473,
.scroller__4b984,
.searchBar-3TnChZ .searchBarComponent-3N7dCG,
.panels__58331,
.sidebar_ded4b5,
.theme-dark .container__5c7e7,
.container-ZMc96U.themed-Hp1KC_,
.nowPlayingColumn_f5023f,
.inner-2pOSmK,
.chat__52833,
.channelTextArea-1FufC0,
.container__590e2,
.container_b2ce9c,
.members__9f47b,
.members__9f47b > div,
.container-1oAagU,
.standardSidebarView__1129a,
.sidebarRegionScroller__1fa7e,
.contentRegion__0bec1,
.contentRegionScroller-2_GT_N,
.scroller__52ae7 {
    background-color: initial !important;
}

.searchBar-2aylmZ,
.searchBar-zdmu7v,
.uiuiui-scrollableContainer-15eg7h,
.scrollableContainer-15eg7h,
.itemCard__1f162.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a,
.inner-2pOSmK {
    background-color: var(--background-tertiary);
}

.theme-dark .uiuiui-children-3xh0VB::after,
.theme-dark .uiuiui-form-3gdLxP::before,
.uiuiui-banner-1YaD3N.uiuiui-popoutBanner-3cqRD9,
.uiuiui-message-2CShn3:hover,
.uiuiui-header-3OsQeK,
.uiuiui-member-48YF_l,
.uiuiui-members-3WRCEx,
.uiuiui-container-1oeRFJ,
.uiuiui-chatContent-3KubbW,
.uiuiui-container-YkUktl,
#app-mount .title_b7d661,
.root-2s1-ri > *,
.theme-dark .form__13a2c::before,
.headerTop-2cWpdB,
.banner-1YaD3N.popoutBanner-3cqRD9,
.message__80c10:hover,
.theme-dark .friendSelected-3cwmD7,
.bodyInnerWrapper-2bQs1k,
.searchHeader-2XoQg7,
.applicationStore-1pNvnv,
.header-39GIC8,
.channel_c21703,
.header-3OsQeK,
.fieldList_aab0de,
.container-lRFx4q,
.channelName-1JRO3C,
.section-2gLsgF,
.stageSection-3mAD8V,
.titleContainer-2CXtJo,
.header-2mZ9Ov,
.wrapper-2qzCYF,
.bodyInnerWrapper-26fQXj,
.threadSidebar-1o3BTy,
.container-3hZ-gs,
.bd-switch.bd-switch-checked .bd-switch-body,
.theme-dark .children__32014:after,
.bd-addon-list .bd-addon-header,
.div[class*="keyboardShortcutsModal"],
.member-48YF_l,
.members__9f47b,
.messages-23can0,
.userProfileInnerThemedNonPremium-1gT-zY,
.container-1oeRFJ,
.chatContent-3KubbW,
.container-YkUktl,
.root-1CAIjD,
.userProfileOuterUnthemed-2b2rsv,
.userProfileInnerThemedNonPremium__3d0a6 {
    background: transparent !important;
}

.textContainer-36wgKK,
.footer-GXWBBp {
    background: transparent;
    border-color: transparent;
    border-radius: var(--interactive-border-radius);
}

.hljs {
    border-radius: var(--interactive-border-radius);
}

#app-mount .title_b7d661 .searchBar_e0c60b {
    background: var(--background-secondary);
}
#app-mount .title_b7d661 .children__32014::after {
    content: none;
}

.newMessagesBar__8b6d7 {
    background: var(--brand-experiment);
}

.peopleListItem-u6dGxF:hover .actions-YHvpIT {
    display: flex !important;
    border: transparent;
}

.tabBarItem-3VvT2z {
    margin-bottom: 24px;
    padding: 8px;
}

.top-K_jibn .item-3XjbnG {
    border-bottom: none;
}

.tabBar-2WK2Dm,
.customizationSection-IGy2fS,
.perkRow-10K6XE {
    border-bottom: thin var(--theme-border-style) var(--theme-border-color);
}

div[role="separator"],
div[class*="divider"],
div[class*="Separator"],
.peopleListItem-u6dGxF {
    border-top: none;
    background: transparent;
    border-top: thin var(--theme-border-style) var(--theme-border-color) !important;
}

.connectionHeader-Ixbb1s {
    border-radius: var(--interactive-border-radius)
        var(--interactive-border-radius) 0 0;
}
.uiuiui-mentioned-Tre-dv,
.mentioned__58017 {
    border-radius: 0 var(--interactive-border-radius)
        var(--interactive-border-radius) 0;
}

.uiuiui-activity-2EQDZv,
.theme-dark .summaryInfo-3hcuop,
.activity__3cbac {
    color: var(--main-text-color) !important;
}

.uiuiui-member-2gU6Ar.uiuiui-selected-1-Z6gm .uiuiui-username-3_PJ5r,
.uiuiui-member-2gU6Ar.uiuiui-selected-1-Z6gm .uiuiui-activity-2EQDZv,
div[class*="muted"],
#app-mount div[class*="cooldown"],
.member_aa4760.selected__9800b .username_d272d6,
.member_aa4760.selected__9800b .activity__3cbac,
.theme-dark .markdown-19oyJN,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo,
.theme-dark .wrapper-2g4olo,
.input-3r5zZY::placeholder,
.input-2g-os5::placeholder,
.theme-dark .subtitle-3v29zT,
.discordTag-2ke74W.nameTag-H6kSJ0,
.bd-meta,
.keybindDescription-oXh6w_,
.div[class*="modalSubtitle"] {
    color: var(--secondary-text-color) !important;
}

.uiuiui-membersGroup-2eiWxl,
.uiuiui-activityText-1rR-8O,
.uiuiui-container-q97qHp,
.membersGroup-2eiWxl,
.activityText-1rR-8O,
.container-q97qHp {
    color: var(--secondary-text-color);
    font-weight: bold;
}

.theme-dark .uiuiui-wrapper-1ZcZW-,
.uiuiui-role-2TIOKu,
.uiuiui-circleIconButton-1VxDrg,
div[class*="tooltip"],
div[class*="Badge"],
div[class*="defaultIndicator"],
[class*="colorGreen"],
.theme-dark .wrapper__2d9b1,
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.planOptionDiscount-2nex9n,
.role__631a3,
.wrapper-2olG5t,
.upload-vLbqu-,
.circleIconButton-1VxDrg,
.role-23oyrw {
    color: var(--main-text-color);
    background: var(--main-gradient);
    border-radius: var(--interactive-border-radius);
}

div[class*="modeSelected"] .uiuiui-link-1_kTxV,
.uiuiui-wrapper-2vIMkT,
.item-3XjbnG[class*="selected"],
.item-3XjbnG[class*="selected"]:hover,
.interactive-1vLZ_I[class*="interactiveSelected"],
.interactive-1vLZ_I[class*="interactiveSelected"]:hover,
div[class*="interactiveSelected"],
div[class*="modeSelected"] .link-1_kTxV,
.actionButton-3-B2x-,
.selected-3B2w1z,
div[class*="checked"],
.reaction_b90ab0,
button[class*="navButtonActive"],
.bar-wDIGjg,
.iconWrapper-3plkqh,
.itemFilled-1cPbtg[aria-checked="true"],
.lookInverted-2mDUMi.colorBrand-I6CyqQ,
.option-Tt7anD,
.wrapper-1NNaWG,
.wrapper_c727b6 {
    background: var(--main-gradient) !important;
    border-radius: var(--interactive-border-radius) !important;
}

.menu-1QACrS[class*="Flex"]::before,
.menu-1QACrS[class*="Flex"] {
    all: unset !important;
}

.uiuiui-circleIconButton-1VxDrg[class*="selected"],
.circleIconButton-1VxDrg[class*="selected"] {
    background: var(--hover-gradient);
    color: var(--secondary-text-color);
}

.uiuiui-homeIcon-r0w4ny,
.uiuiui-wrapper-1_HaEi [class*="pill"],
div[class*="tooltipPointer"],
use[href*="badge"],
.peopleListItem-u6dGxF .actions-YHvpIT,
.homeIcon__00b1b,
.wrapper-1_HaEi [class*="pill"] {
    display: none !important;
}

.listItem_fa7b36 [class*="selected"] .wrapper-28eC3z svg[class*="svg"] {
    border: var(--theme-border);
    border-radius: 20px;
    overflow: hidden;
}

[class*="input"],
[class*="TextArea"] {
    border-radius: var(--interactive-border-radius) !important;
    overflow: hidden;
}

.messages-23can0 {
    border-radius: 0;
}

.channelHeader__5d30c {
    backdrop-filter: blur(20px);
}

.focused-3qFvc8 {
    color: var(--main-text-color);
    border-radius: var(--interactive-border-radius);
    background: var(--hover-gradient);
}

.theme-dark .checkbox-f1HnKB {
    border-radius: var(--interactive-border-radius);
    border-color: var(--main-text-color);
}

.colorable-3rVGna.primaryDark-2UJt1G,
.colorable-3rVGna.green-3wkLbx.active-3D763s {
    background: var(--main-gradient);
    border-radius: var(--interactive-border-radius);
}

.centerIcon-JYpTUi {
    color: var(--main-text-color);
}

.colorable-3rVGna.primaryDark-2UJt1G:hover,
.colorable-3rVGna.green-3wkLbx:hover {
    background: var(--hover-gradient);
}

.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: var(--first-gradient-color) !important;
}

.uiuiui-mentioned-Tre-dv::before,
.uiuiui-content-3spvdd,
.uiuiui-mediaBarProgress-38I317::before,
.mention-3XBnnZ,
.addFriend-emTWY1,
.tag-15zcD_,
.mentioned__58017::before,
.bd-switch.bd-switch-checked
    .bd-switch-body:not([style*="background-color: hsl(218,"]):before,
.bd-search-wrapper,
.content_d67847,
.mediaBarProgress-38I317,
.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317::before {
    background: var(--main-gradient) !important;
}

.cta-3-AFNF,
.button-3Vyz67 {
    background: var(--main-gradient) !important;
    color: var(--main-text-color);
}

.key-N5VmHN {
    background: var(--main-gradient);
    box-shadow: inset 0 -4px 0 var(--second-gradient-color);
    -webkit-box-shadow: inset 0 -4px 0 var(--second-gradient-color);
    border: none;
}

.uiuiui-scrollableContainer-15eg7h,
.uiuiui-link-1_kTxV,
.theme-dark .notDetected-M3Ghh2,
.theme-dark .feature-2IUcBI,
.theme-dark .paymentPane-ut5qKZ,
.theme-dark div[class*="indicator"],
.scrollableContainer-15eg7h,
.input-3r5zZY,
.container-1SX9VC,
.link__95dc0,
.background-3d_SjE,
.connection_fff5f6,
.card-16VQ8C,
.accountList-Wii_T5,
.accountBtnInner-3ttD-i,
.accountProfileCard__22589,
.item-2idW98,
.radioBar-3w9XY-,
.button-f2h6uQ,
.hero-1aNo0v,
.cardWrapper-1bSePP,
.container-3NTP7o,
.backgroundOptionRing-1vvQ0C,
.backgroundOptionInner-SSz19O,
.select-1Ia3hD,
.container-30qY7E,
.container-3jbRo5,
.key-N5VmHN,
.bd-switch-body,
.container-x8Y1ix,
.bd-addon-card,
.link-1_kTxV {
    border-radius: var(--interactive-border-radius);
}

.uiuiui-bar-2eAyLE,
.bar-2eAyLE,
.item-3XjbnG {
    color: var(--main-text-color) !important;
    border-radius: var(--interactive-border-radius) !important;
}

.uiuiui-layout-1qmrhw:hover,
.result-u66Ywh[aria-selected="true"],
.diversityEmojiItem-2bgZKv:hover,
.layout_bb8e67:hover {
    background: var(--hover-gradient);
    border-radius: var(--interactive-border-radius);
}

.item-3XjbnG:hover {
    color: var(--main-text-color);
    background: var(--hover-gradient);
}

.uiuiui-wrapper-NhbLHG:not([class*="modeSelected"]):hover .link-1_kTxV,
.uiuiui-button-3bklZh:hover,
.emojiItem-277VFM.emojiItemSelected__1a09a,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.interactive-1vLZ_I:hover,
.wrapper-NhbLHG:not([class*="modeSelected"]):hover .link-1_kTxV,
.actionButton-3-B2x-:hover,
.button-3bklZh:hover,
.item-3XjbnG[class*="selected"] div[class*="Badge"] {
    background: var(--hover-gradient) !important;
}

.interactive-1vLZ_I {
    border-radius: var(--interactive-border-radius);
    background: transparent;
    overflow: hidden;
}

.peopleListItem-u6dGxF:hover {
    background: inherit;
    border: thin var(--theme-border-style) var(--first-gradient-color);
    border-radius: var(--interactive-border-radius);
}

.addFriend-emTWY1[aria-selected="true"] {
    background: transparent !important;
    color: var(--first-gradient-color) !important;
    border: var(--theme-border-width) solid var(--second-gradient-color) !important;
}

.bd-switch.bd-switch-checked .bd-switch-body path,
.container-2nx-BQ[class*="checked"] > .slider-32CRPX svg path {
    fill: var(--second-gradient-color);
}

.bd-button.bd-button-danger {
    background: var(--first-gradient-color);
}

.bd-button.bd-button-danger:hover {
    background: var(--hover-first-gradient-color);
}

.bd-button,
.bd-button:hover {
    background: var(--second-gradient-color);
}

:not([class*="embedWrapper"]) [class*="embedWrapper"] {
    background: var(--main-gradient);
    border-radius: var(--interactive-border-radius);
    border: none;
}

.theme-dark .paymentPane-ut5qKZ,
.unreadPill-3nEWYM {
    color: var(--main-text-color);
}

.bd-switch.bd-switch-checked .bd-switch-body:before {
    background-color: #ffffff26;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: all 0.1s ease-in-out;
}

.userInfo-2zN2z8,
.peopleListItem-2nzedh {
    overflow: visible;
}

/*License*/

.info__755e1::before {
    content: "uiuiui.in";
    font-size: 14px;
    line-height: 16px;
    animation: uiuiuiTextRainbow 5s linear infinite;
}

.uiuiui-wordmarkWindows-2dq6rw,
.wordmarkWindows__05c46 {
    position: absolute;
}

.uiuiui-wordmarkWindows-2dq6rw::before,
.wordmarkWindows__05c46::before {
    position: absolute;
    left: 65px;
    width: 100%;
    height: 18px;
    content: "";
    animation: uiuiuiLogoRainbow 5s linear infinite;
    -webkit-mask-image: var(--uiuiui-svg);
    mask-image: var(--uiuiui-svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

@keyframes uiuiuiLogoRainbow {
    from {
        background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
}

@keyframes uiuiuiTextRainbow {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}
